DB_HOST=localhost
DB_PORT=3306
DB_NAME=beefintech_platform
DB_USERNAME=beefintech
DB_PASSWORD=beefintech123
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
ADMIN_DISPLAY_NAME=Platform Admin
OBJECT_STORAGE_DIR=./var/storage
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

